// BOOKMARK

.bookmark-item {
  border-width: 0 !important;
  &:hover {
    color: #212529;
  }
}

.bookmark-title {
  font-size: 0.9em;
}

.bookmark-btn {
  position: absolute;
  right: 12px;
  background: rgb(0 0 0 / 44%);
  margin: 0.3em;
  padding: 0.4em 0.6em 0.2em 0.6em;
  border-radius: 50%;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}
