$theme-colors: (
  "primary": #0372dd,
  "danger": #ff4136,
);

@import "~bootstrap/scss/bootstrap";
@import "layout";
@import "bookmarks";
@import "@fortawesome/fontawesome-free/css/all.css";

// CUSTOM

.bg-light {
  background-color: #fff !important;
}

.clickable {
  cursor: pointer;
}

// FEED

article {
  img {
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
  }
}

.card {
  // box-shadow: 0 6px 12px rgba(140, 152, 164, 0.075);
  border: none;

  .card-body {
    padding-top: 5px;

    .card-title {
      padding: 0.2em;
      background-color: yellow;
      display: inline;
    }
  }
}
