$theme-colors: (
  "primary": #0372dd,
  "danger": #ff4136,
);

@import "~bootstrap/scss/bootstrap";
@import "layout";
@import "bookmarks";
@import "feed";
@import "@fortawesome/fontawesome-free/css/all.css";

// CUSTOM

.bg-light {
  background-color: #fff !important;
}

.clickable {
  cursor: pointer;
}
